[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
click = "*"
pyyaml = "*"
tqdm = "*"
pymupdf = "*"
install = "*"
sortedcontainers = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
boto3 = "*"
mangum = "*"
uvicorn = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.8"
