@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';

body {
  @apply text-primary overflow-x-hidden;
  em {
    @apply font-bold text-primary;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
  .logo {
    width: 100px;
    @screen md {
      width: 150px;
    }
  }

  li.selected {
    @apply bg-primary-light-200;
  }

  .button {
    @apply bg-primary text-white rounded-lg hover:bg-primary-light focus:outline-primary-light duration-300 transition;
  }
  .button-half {
    @apply text-white hover:bg-primary-light focus:outline-primary-light duration-300 transition;
  }

  .search-area {
    form {
      .search-input-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 60px;
        @apply border-b-8 border-white;
        &.expanded {
          @apply border-b-8 w-full border-primary;
          @screen md {
            width: calc(100% - 32px);
          }
        }
      }
      .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        &.collapsed {
          width: 40%;
        }
        img {
          @apply transition duration-300 absolute right-0 top-0;
        }
        &-search {
          width: 50px;
        }
        &-close {
          width: 40px;
        }
      }
    }
  }
  .page-close {
    width: 50px;
  }
  // radar loader
  .radar {
    transform: rotate(-70deg);
    width: 25%;
    height: 14em;
  }

  /* Range slider */
  .range-slider {
    /* SLIDER THUMB */

    &::-webkit-slider-thumb {
      @include slider-thumb;
    }
    &::-moz-range-thumb {
      @include slider-thumb;
    }
    &::-ms-thumb {
      @include slider-thumb;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }
    &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    /* SLIDER TRACK */

    &::-webkit-slider-runnable-track {
      @include slider-track;
    }
    &::-moz-range-track {
      @include slider-track;
    }
    &::-ms-track {
      @include slider-track;
    }

    &:focus::-webkit-slider-runnable-track {
      @apply bg-primary-dark-200;
    }
    &::-ms-track {
      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    // ms special styling
    &::-ms-fill-lower {
      @include slider-track;
    }
    &:focus::-ms-fill-lower {
      @apply bg-primary-dark-400;
    }
    &::-ms-fill-upper {
      @include slider-track;
    }
    input[type='range']:focus::-ms-fill-upper {
      @apply bg-primary-dark-400;
    }
  }
}
