@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primary overflow-x-hidden;
  em {
    @apply font-bold text-primary;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
  .logo {
    width: 100px;
    @screen md {
      width: 150px;
    }
  }

  li.selected {
    @apply bg-primary-dark-200;
  }

  .button {
    @apply bg-primary text-white rounded-lg hover:bg-primary-light duration-300 transition;
  }
  .button-half {
    @apply bg-primary text-white hover:bg-primary-light duration-300 transition;
  }

  .search-area {
    form {
      .search-input-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 60px;
        @apply border-b-8 border-white;
        &.expanded {
          @apply w-full border-b-8 border-primary;
        }
      }
      .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        &.collapsed {
          width: 40%;
        }
        img {
          @apply transition duration-300 absolute right-0 top-0;
        }
        &-search {
          width: 50px;
        }
        &-close {
          width: 40px;
        }
      }
    }
  }
  .page-close {
    width: 50px;
  }
  // radar loader
  .radar {
    transform: rotate(-70deg);
    width: 25%;
    height: 14em;
  }
}
