@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  em {
    @apply font-bold text-black;
  }

  .search-area {
    form {
      .search-input-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 60px;
        border-bottom: 10px solid white;
        &.expanded {
          width: 100%;
          border-bottom: 10px solid black;
        }
      }
      .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 100%;
        &.collapsed {
          width: 40%;
        }
        img {
          @apply transition duration-300 absolute right-0 top-0;
        }
        &-search {
          width: 50px;
        }
        &-close {
          width: 40px;
        }
      }
    }
  }
  .page-close {
    width: 50px;
  }
}
